* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

header {
    background: #e24a4a;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background: #bd3535;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #e24a4a;
    margin-bottom: 0.5rem;
}

footer {
    background: #e24a4a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.intro {
    text-align: center;
}

.intro p {
    font-size: 1.1rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.command {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #4A90E2;
}

.command h3 {
    color: #333;
    font-size: 1.2rem;
}
.ul {
    text-decoration: none;
    text-align: center;
}

.command p {
    margin: 0.5rem 0;
}
